$color700: #f52d4f;
$color900: #894cd4;
$black: #111;

@keyframes scale {
	from { transform: scale(1.8); }
	to { transform: scale(1); }
}

.scroller {
	height: 100vh;
}

.visual {
	position: relative;
	width: 100%;
	height: 100vh;

	&_tit {
		display: flex;
		justify-content: center;
		align-items: center;
		animation: scale 1.5s;

		h1 {
			margin-left: -290px;
			font-weight: 600;
			font-size: 290px;
			color: $black;
		}

		.sub_tit {
			margin-left: 100px;
			line-height: 1.2;

			h2 {
				font-weight: 500;
				font-size: 70px;
				color: $black;
			}

			h3 {
				position: relative;
				font-weight: 600;
				font-size: 70px;
				color: $black;

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 360px;
					width: 175px;
					height: 1px;
					background: $black;
				}
			}
		}
	}

	.visual_txt {
		position: absolute;
		top: -29%;
		left: calc(50% - 330px);
		width: 1000px;
		height: 100%;

		.roll {
			font-weight: 600;
			font-size: 290px;
			text-align: right;

			&.text700 {
				color: $color700;
			}

			&.text900 {
				color: $color900;
			}
		}

	}

	.visual_img {
		position: absolute;
		top: calc(50% - 220px);
		left: calc(50% - 330px);
		width: 100%;
		height: 100%;

		.roll_img {
			z-index: auto;

			img {
				max-width: 600px;
				width: 100%;
			}

			&.img700 {
				animation: scale 1.5s;
			}
		}
	}
}

.sec02 {
	width: 100%;
	height: 100%;
	background: url('../image/toeicpack/txt_roll_bg.png') no-repeat;
	background-size: cover;

	&_roll_txt {
		width: 100%;
		height: 100%;

		.roll {
			top: -15%;
			font-size: 70px;
			color: #fff;
		}
	}
}



.sec03 {
	display: flex;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	background: #070707;
}

.blue {
	height: 100vh;
	background: #00026d;
}


.scroll_txt {
	position: relative;
	width: 450px;
	height: 80vh;
}

.roll {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
	text-align:center;
	transform:translateY(100%);
	opacity: 0;
}

.roll.blue-text {
	color: blue;
}

.roll.red-text {
	color: red;
}

.roll.purple-text {
	color: purple;
}

.roll.orange-text {
	color: orange;
}

.scroll_img {
	position: relative;
	width: 450px;
	height: 80vh;
}

.roll_img {
	// position: absolute;
	// left: 0%;
	// top: 0%;
	// right: 0%;
	// bottom: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.roll_img._2 {
	z-index: 1;
}

.roll_img.blue {
	z-index: auto;
}

.roll_img.red {
	z-index: auto;
	background: red;
	background-image: none;
}

.roll_img.orange {
	z-index: auto;
	background: #cf5d00;
	background-image: none;
}

.roll_img.purple {
	z-index: auto;
	background: #808;
	background-image: none;
}


// body {
// 	margin: 0;
// 	overflow: hidden;
// }

// .toeic_visual {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: 100%;
// 	height: 100%;
// 	background: #fff;

// 	.toeic_visual_txt {
// 		font-weight: 900;
// 		font-size: 330px;
// 		color: #000;
// 		text-align: center;

// 		strong {
// 			color: $color700;
// 		}
// 	}

// 	.package_3d {
// 		z-index: 99;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 	}

// 	&.toeic900 {
// 		.toeic_visual_txt {
// 			strong {
// 				color: $color900;
// 			}
// 		}
// 	}
// }

// body {
// 	height: 500vh;
// 	background: #121212;
// }

// #scroll_pass {
// 	z-index: 2;
// 	position: fixed;
// 	left: 50%;
// 	top: 50%;
// 	transform: translate(-50%, -50%);
// 	width: 100%;
// 	max-height: 100vh;

// 	img {
// 		height: 100%;
// 	}
// }

// .vid_max {
// 	z-index: 1;
// 	position: fixed;
// 	top: 0;
// 	left: 0;

// 	h1 {
// 		font-weight: 600;
// 		font-size: 40px;
// 		color: #fff;
// 		text-align: center;
// 	}
// }

