$color700: #f52d4f;
$color900: #894cd4;
$black: #111;

// Animation
@keyframes scale_min {
	from { opacity: 0; transform: scale(1.8); }
	to { opacity: 1; transform: scale(1); }
}

@keyframes scale_max {
	from { opacity: 0; transform: scale(1); }
	to { opacity: 1; transform: scale(1.8); }
}

@keyframes fadein_right {
	0% { transform: translateX(50px); opacity: 0; }
	100% { transform: translateX(0); opacity: 1; }
}

@keyframes front {
	0% { opacity: 0; height: 0; }
	100% { opacity: 1; height: 120px; }
}

@keyframes top {
	0% { opacity: 0; width: 0; }
	100% { opacity: 1; width: 220px; }
}

@keyframes blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes line {
	0% { height: 0px; }
	100% { height: 95px; }
}

@keyframes goods_watch {
	0% { opacity: 0; top: 30%; left: 35%; }
	100% { opacity: 1; top: 12%; left: 22%;	}
}

@keyframes goods_answer {
	0% { opacity: 0; top: 30%; left: 35%; }
	100% { opacity: 1; top: 9%; left: 58%;}
}

@keyframes goods_voca {
	0% { opacity: 0; top: 30%; left: 35%; }
	100% { opacity: 1; top: 47%; left: 10%;	}
}

@keyframes goods_pad {
	0% { opacity: 0; top: 30%; left: 35%; }
	100% { opacity: 1; top: 58%; left: 36%;	}
}

@keyframes goods_sticker {
	0% { opacity: 0; top: 30%; left: 35%; }
	100% { opacity: 1; top: 45%; left: 70%;	}
}

@keyframes sticker01 {
	0% { transform: scale(1); }
	30% { transform: scale(2); }
	100% { transform: scale(1); top: 17%; left: 64.5%; }
}

@keyframes sticker02 {
	0% { transform: scale(1); }
	10% { transform: scale(2); }
	30% { transform: scale(2); }
	100% { transform: scale(1); top: 18%; left: 70.8%; }
}

@keyframes sticker03 {
	0% { transform: scale(1); }
	10% { transform: scale(2); }
	30% { transform: scale(2); }
	100% { transform: scale(1); top: 19%; left: 76.8%; }
}

@keyframes sticker04 {
	0% { transform: scale(1); }
	10% { transform: scale(2); }
	30% { transform: scale(2); }
	100% { transform: scale(1); top: 20.5%; left: 82.7%; }
}

// 공통
.scroller {
	height: 100vh;
}

.roll {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
	text-align:center;
	transform:translateY(100%);
	opacity: 0;
}

.scroll_img {
	position: relative;
	width: 450px;
	height: 100vh;

	.roll_img {
		z-index: 1;
		width: 100%;
		height: 100%;
	}
}

// Landing
.visual {
	position: relative;
	left: calc(50% - 600px);
	width: 1200px;
	height: 100%;

	&_tit {
		opacity: 0;
		position: relative;
		display: flex;
		flex-direction: column;
		height: 90vh;
		margin-left: 0;
		padding-top: 8%;
		animation: scale_min 1.5s;
		animation-delay: 0.2s;
		animation-fill-mode: forwards;

		h1 {
			font-weight: 300;
			font-size: 50px;
			color: $black;
		}

		.sub_tit {
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 175px;
			color: $black;

			.toggle_switch {
				position: relative;
				width: 270px;
				height: 130px;
				margin: 0 20px;
				border-radius: 83px;
				background: linear-gradient(90deg, #f52d4f, #8349cb);

				span {
					display: block;
					position: absolute;
					top: 20px;
					left: 20px;
					width: 90px;
					height: 90px;
					background: #fff;
					border-radius: 50%;
					transition: all 1s;
				}

				&.on {
					span {
						left: 160px;
					}
				}
			}
		}

		h2 {
			position: absolute;
			bottom: 15.5%;
			left: 0;
			padding-left: 20px;
			font-weight: 600;
			font-size: 35px;

			&::before {
				content: '';
				position: absolute;
				top: 6px;
				left: 0;
				width: 1px;
				height: 75px;
				background: #999;
			}
		}

		h3 {
			position: absolute;
			bottom: 11%;
			left: 0;
			padding-left: 20px;
			font-size: 30px;
		}
	}

	.visual_txt {
		position: absolute;
		top: -17%;
		left: -1%;
		width: auto;
		height: 100%;

		.roll {
			font-weight: 600;
			font-size: 280px;
			text-align: right;

			&.text700 {
				color: $color700;
				padding-left: 10px;
			}

			&.text900 {
				color: $color900;
			}
		}

	}

	.visual_img {
		position: absolute;
		top: 26%;
		left: 53%;
		width: 100%;
		height: 100%;

		.roll_img {
			position: relative;
			height: 80%;

			img {
				max-width: 640px;
				width: 100%;
			}

			&.img700 {
				img {
					opacity: 0;
					animation: scale_min 1.5s;
					animation-delay: 0.7s;
					animation-fill-mode: forwards;
				}
			}
		}
	}
}

.sec_vid {
	position: relative;
	width: 100%;
	height: 100%;

	.video_bg {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.35);
		}
	}

	&_roll_txt {
		width: 100%;
		height: 100%;

		.roll {
			top: -9%;
			font-weight: 700;
			font-size: 70px;
			color: #fff;
			line-height: 1.4;
		}
	}
}

.sec_point {
	width: 100%;
	height: 100%;

	img {
		max-height: 80vh;
	}

	.point_txt {
		position: absolute;
		top: 0;
		left: 13%;
		width: 100%;
		height: 43vh;

		.roll {
			display: flex;
			flex-direction: column;
			text-align: left;

			h1 {
				margin-bottom: 10px;
				font-weight: 700;
				font-size: 40px;
				color: $color900;
			}

			h2 {
				margin-bottom: 40px;
				font-weight: 700;
				font-size: 85px;
				color: $black;
			}

			p {
				font-size: 32px;
				color: #555;
				line-height: 1.6;
			}
		}
	}

	.scroll_img {
		width: 100%;

		.roll_img {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			&.point_ani {
				position: relative;

				.p_ani {
					opacity: 0;
					position: absolute;
					right: 0;

					&.point_01a {
						z-index: 3;
						top: 7%;
					}

					&.point_01b {
						z-index: 2;
						top: 22%;
					}

					&.point_01c {
						top: 37%;
					}
				}

				&.on {
					.p_ani {
						animation: fadein_right 1s;
						animation-fill-mode: forwards;

						&.point_01b {
							animation-delay: 0.25s;
						}

						&.point_01c {
							animation-delay: 0.5s;
						}
					}
				}
			}

			&:last-child {
				padding-right: 7%;
				box-sizing: border-box;
			}
		}
	}
}

.sec_workbook {
	overflow: hidden;
	position: relative;

	&_tit {
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding: 9% 13%;

		h1 {
			margin-bottom: 10px;
			font-weight: 700;
			font-size: 40px;
			color: $color900;
		}

		h2 {
			margin-bottom: 40px;
			font-weight: 700;
			font-size: 85px;
			color: $black;
		}

		h3 {
			font-size: 32px;
			color: #555;
			line-height: 1.6;
		}
	}

	.workbook_list {
		position: absolute;
		bottom: 0%;
		right: -7%;

		.list {
			opacity: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 100vh;

		}

		&.on {
			.list {
				animation: blink 1.5s;

				&:nth-child(2n) {
					animation-delay: 0.5s;
				}

				&:last-child {
					animation-delay: 1s;
					animation-fill-mode: forwards;
				}
			}
		}
	}
}

.sec_curri {
	position: relative;

	&_tit {
		display: flex;
		flex-direction: column;
		padding: 9% 13%;

		h1 {
			margin-bottom: 10px;
			font-weight: 700;
			font-size: 40px;
			color: $color900;
		}

		h2 {
			margin-bottom: 40px;
			margin-left: -8px;
			font-weight: 700;
			font-size: 85px;
			color: $black;
		}

		h3 {
			font-size: 32px;
			color: #555;
			line-height: 1.6;
		}
	}

	.cube_wrap {
		position: absolute;
		top: 12%;
		right: 13%;
		width: 600px;
		height: 530px;

		.cube {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			transform: rotateX(-25deg) rotateY(25deg);
			transform-style: preserve-3d;

			.face {
				opacity: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				width: 220px;
				height: 220px;

				&.front {
					width: 10px;
					height: 120px;
					background: #ead7ff;
					transform: translateY(325px) translateZ(110px);
				}
				&.top {
					display: flex;
					justify-content: center;
					align-items: center;
					background: #ddadff;
					font-weight: 700;
					font-size: 100px;
					color: #fff;
					transform: translateY(215px) rotateX(90deg);
				}
				&.left {
					height: 120px;
					background: #ca8dff;
					transform: translateX(-110px) translateY(325px) rotateY(90deg);
				}
				&.bottom {
					width: 247px;
					height: 11px;
					background: #ead7ff;
					transform: translateX(56px) translateY(381px) rotateX(0);
				}
			}

			&02 {
				left: 33%;

				.face {
					&.front {
						background: #b77df4;
						transform: translateY(172px) translateZ(110px);
					}
					&.top {
						background: #a75edb;
						transform: translateY(52px) rotateX(90deg);
					}
					&.left {
						background: #904ccc;
						transform: translateX(-110px) translateY(161px) rotateY(90deg);
					}
					&.bottom {
						background: #b77df4;
						transform: translateX(51px) translateY(218px) rotateX(0);
					}
				}

			}

			&03 {
				left: 66%;

				.face {
					&.front {
						background: #9754d1;
						transform:  translateY(10px) translateZ(108px);
					}
					&.top {
						background: #651ba2;
						transform: translateY(-110px) rotateX(90deg);
					}
					&.left {
						background: #4d1687;
						transform: translateX(-110px) translateY(0) rotateY(90deg);
					}
					&.bottom {
						background: #9754d1;
						transform: translateX(51px) translateY(56px) rotateX(0);
					}
				}
			}
		}

		.curri_txt {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;

			.txt {
				opacity: 0;
				position: absolute;
				top: 62%;
				left: 16%;
				display: flex;
				flex-direction: column;
				width: 300px;

				h4 {
					font-weight: 700;
					font-size: 36px;
					color: #c480ff;
					text-align: left;
				}

				h5 {
					font-size: 28px;
					color: #555;
					text-align: left;
				}

				&:nth-child(2) {
					top: 45%;
					left: 51%;

					h4 {
						color: #904ccc;
					}
				}

				&:last-child {
					top: 28%;
					left: 84%;

					h4 {
						color: #50147a;
					}
				}
			}
		}

		&.on {
			.cube {
				&::after {
					content: '';
					position: absolute;
					top: 500px;
					left: 50px;
					width: 1px;
					height: 0;
					background: #c480ff;
					animation: line 1s;
					animation-fill-mode: forwards;
					animation-delay: 1s;
				}

				.face {
					&.front {
						animation: front 1s alternate;
						animation-fill-mode: forwards;
					}
					&.top {
						animation: top 1s;
						animation-fill-mode: forwards;
					}
					&.left {
						animation: front 1s alternate;
						animation-fill-mode: forwards;
					}
					&.bottom {
						animation: top 1s;
						animation-fill-mode: forwards;
					}
				}

				&02 {
					.face {
						&.front,
						&.top,
						&.left,
						&.bottom {
							animation-delay: 2s;
						}
					}

					&::after {
						top: 348px;
						left: 60px;
						animation-delay: 3s;
					}
				}

				&03 {
					.face {
						&.front,
						&.top,
						&.left,
						&.bottom {
							animation-delay: 4.5s;
						}
					}

					&::after {
						top: 185px;
						left: 59px;
						background: #50147a;
						animation-delay: 5.5s;
					}
				}
			}

			.curri_txt {
				.txt {
					animation: blink 1s;
					animation-delay: 1.5s;
					animation-fill-mode: forwards;

					&:nth-child(2) {
						animation-delay: 3.5s;
					}

					&:last-child {
						animation-delay: 6s;
					}
				}
			}
		}
	}
}

.sec_study123 {
	position: relative;
	width: 100%;
	height: 100%;
	background: #333;

	.study_123_txt {
		width: 100%;
		height: 100%;
		padding-top: 10%;
		text-align: center;

		.roll_img {
			top: -27%;
			font-weight: 900;
			font-size: 330px;
			color: #fff;
		}
	}

	.study_123 {
		position: absolute;
		top: 70%;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.study_sub_txt {
			font-weight: 400;
			font-size: 35px;
			color: rgba(255, 255, 255, 0.5);
			text-align: center;
			line-height: 1.3;

			&.on {
				font-weight: 600;
				color: #fff;
			}
		}
	}
}

.sec_goods {
	height: 100vh;
	background: #f9f9f9;

	.scroll_txt {
		height: 100vh;

		.roll {
			display: flex;
			flex-direction: column;
			width: 100%;
			top: -13%;

			h1 {
				margin-bottom: 10px;
				font-weight: 700;
				font-size: 40px;
				color: $color900;
			}

			h2 {
				font-weight: 700;
				font-size: 85px;
				color: $black;
			}
		}

		.memopad_tit {
			top: -38%;
			width: 100%;
			display: flex;
			flex-direction: column;
			padding: 0 13%;
			text-align: left;
			box-sizing: border-box;
		}
	}

	.goods_img {
		z-index: 99;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;

		li {
			opacity: 0;
			position: absolute;
			transition: all 1s;
			cursor: pointer;

			img {
				width: 70%;
			}

			&.watch {
				animation: goods_watch 1s;
				animation-delay: 0.5s;
				animation-fill-mode: forwards;
			}

			&.answer {
				animation: goods_answer 1s;
				animation-delay: 0.5s;
				animation-fill-mode: forwards;
			}

			&.voca {
				animation: goods_voca 1s;
				animation-fill-mode: forwards;
			}

			&.goods_pad {
				animation: goods_pad 1s;
				animation-delay: 0.5s;
				animation-fill-mode: forwards;

				.pad {
					&01,
					&03 {
						z-index: 2;
						position: relative;
						width: 230px;
						margin-top: 30px;
					}

					&02 {
						z-index: 1;
						position: relative;
						width: 230px;
						margin-left: -50px;
						transform: rotate(-7deg);
						transition: all 1s;
					}

					&03 {
						display: none;
					}
				}

				.sticker_wrap {
					display: none;
				}
			}

			&.sticker {
				animation: goods_sticker 1s;
				animation-fill-mode: forwards;
			}

			.hover_info {
				display: none;
			}

			&:hover {
				.hover_info {
					z-index: 9;
					overflow: hidden;
					position: absolute;
					top: calc(50% - 100px);
					left: calc(50% - 150px);
					display: block;
					width: 300px;
					height: 200px;
					border-radius: 20px;
					border: 5px dashed $color700;
					background: #fff;

					.info {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 100%;

						h3 {
							margin-bottom: 15px;
							font-weight: 800;
							font-size: 30px;
							color: $color700;
						}

						h4 {
							font-size: 18px;
							line-height: 1.3;
							color: $black;
							text-align: center;
						}
					}
				}
			}
		}
	}

	&.on {
		.scroll_txt {
			.memopad_tit {
				z-index: 999;
				position: relative;
			}
		}

		.goods_img {
			li {
				opacity: 0 !important;

				&.goods_pad {
					opacity: 1 !important;
					top: 42%;
					left: 37%;
					animation: scale_max 1.5s;
					animation-fill-mode: forwards;

					.pad {
						&01 {
							display: none;
						}

						&02 {
							margin-left: -30px;
							transform: rotate(0deg);
						}

						&03 {
							display: inline-block;
						}
					}

					.sticker_wrap {
						display: inline-block;

						.stick {
							opacity: 1 !important;
							z-index: 9;
							position: absolute;
							top: 24%;
							left: 8%;
							width: 35px;
							animation: sticker01 2.5s;
							animation-delay: 1s;
							animation-fill-mode: forwards;

							&_02 {
								top: 38.53%;
								left: 28.02%;
								animation: sticker02 2.5s;
								animation-delay: 1.5s;
								animation-fill-mode: forwards;
							}

							&_03 {
								top: 56.3%;
								left: 16.3%;
								animation: sticker03 2.5s;
								animation-delay: 2s;
								animation-fill-mode: forwards;
							}

							&_04 {
								top: 70.8%;
								left: 36.3%;
								animation: sticker04 2.5s;
								animation-delay: 2.5s;
								animation-fill-mode: forwards;
							}
						}
					}
				}
			}
		}
	}
}

.sec_apply {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #fff;

	.apply_tab {
		width: 1100px;

		.tmenu {
			position: absolute;
			bottom: 20%;
			right: 13%;
			display: flex;
			flex-direction: column;
			align-items: center;

			li {
				width: 50px;
				height: 50px;
				margin-top: 10px;
				border-radius: 50%;
				background: #c9c1d6;
				border: 8px solid #fff;
				text-indent: -9999px;
				box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
				cursor: pointer;

				&.on {
					background: $color900;
					box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
				}

				&:last-child {
					&.on {
						background: $color700;
					}
				}
			}
		}

		.tcon {
			li {
				display: flex;
				justify-content: space-between;

				.apply_info {
					h1 {
						margin-top: 25%;
						margin-bottom: 30px;
						font-weight: 700;
						font-size: 87px;
						color: $black;

						strong {
							color: $color900;
						}
					}

					h2 {
						font-size: 32px;
						color: #555;
						line-height: 1.6;
					}
				}

				.apply_img {
					width: 660px;

					img {
						width: 100%;
					}
				}

				&:last-child {
					.apply_info {
						h1 {
							strong {
								color: $color700;
							}
						}
					}
				}
			}
		}
	}

	.bt_apply {
		position: absolute;
		bottom: 22%;
		left: 18%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 330px;
		height: 100px;
		border-radius: 60px;
		border: 1px solid #000;
		font-weight: 600;
		font-size: 34px;
		color: #000;
	}
}
